:root{
    --main-text-font: Arial, Helvetica, sans-serif;
}
.row {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
.cartegory {
    padding: 50px 0;
}
.cartegory-top {
    margin-bottom: 50px;
}
.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 13px;
}
.cartegory-left {
    width: 25%;
}
.cartegory-left ul li {
    padding: 10px 0;
}
.cartegory-left-li {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}
.cartegory-ul {
    font-size: 13px;
    padding-top: 10px;
}
.cartegory-ul li {
    padding-top: 10px;
    color: #333333;
    font-style: italic;
}
.cartegory-left ul li {
    padding-left: 10px;
}
.cartegory-left-li ul {
    display: none;
}
.cartegory-left-li.block ul {
    display: block;
}
.cartegory-right {
    width: 75%;
}
.cartegory-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.cartegory-right-top-item {
    flex: 1;
    padding: 0 12px;
}
.cartegory-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item {
    width: 100%;
    text-align: left;
    height: 230px;
    border: 1px solid rgb(158, 156, 156);
    margin: 12px 0;
    border-radius: 10px;
}
.cartegory-right-content-item p { 
    font-size: 13px;
    font-size: medium;
    padding-left: 20px;
}
.cartegory-right-content-item h3 {
    padding-top: 30px;
    transform: translateX(-90%);
}
.cartegory-right-content-item h5 {
    font-size: 14px;
    font-family: var(--main-text-font);
    color: #8d8686;
}
.h5 {
    padding-left: 420px;
    padding-top: 50px;
    
}
.cartegory-right-content-item img {
    padding-left: 10px;
    height: 200px;
    width: 400px;
    float: left;
    width: 50%;   
    padding-top: 30px;
}
.cartegory-ul{
    padding-left: 30px;
}
.cartegory-right-bottom{
    justify-content: space-evenly;
    margin: 30px 0 20px;
    width: 100%;
}
.cartegory-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 12px;
}
#bottom{
    font-weight: bold;
}
.container {
    padding-bottom: 30px;
    border-bottom: 2px solid #333333;
}
